.Meanings h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.Meanings ul {
  margin: 10px 10px 10px 0px;
  padding: 0;
  display: inline-flex;
}
.Meanings li {
  list-style-type: none;
  padding: 15px;
  line-height: 0;

  background-color: #f0f0f2;
  border: 1px solid white;
  border-radius: 8px;
}
