.Photos {
  display: block;
  text-align: center;
  margin: 30px auto;
  border: 3px solid white;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
}
.Photos img {
  border: 10px solid white;
  margin: 5px 10px;
  width: 200px;
}
@media (max-width: 767px) {
  .Photos img {
    width: 100px;
  }
}
